*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink-400: hsl(0, 36%, 70%);
    --pink-500: hsl(0, 93%, 68%);
    --gray-900: hsl(0, 6%, 24%);

    --gradient1: linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    --space0: .5rem;
    --space1: 1rem;
    --space2: 1.5rem;
    --space3: 2rem;
    --space4: 2.5rem;
    --space5: 3rem;
    --space6: 3.5rem;
    --space7: 4rem;
}

img, svg, picture{
    display: block;
    max-width: 100%;
}

html,
body{
    height: 100%;
}

body{
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(0, 100%, 98%);
}

header{
    padding: var(--space2);
}

header img{
    width: 135px;
}

.image-container img{
    margin-inline: auto;
}

.content-container{
    padding: var(--space7) var(--space4);
    text-align: center;
    color: var(--pink-400);
    max-width: 500px;
    
}

.content-container h1{
    text-transform: uppercase;
    color: var(--gray-900);
    letter-spacing: 5px;
    font-weight: 400;
}

.content-container h1 span{
    display: block;
    color: var(--pink-400);
    font-weight: 300;
}

.content-container p:first-of-type{
    margin-block: var(--space2);
}

form{
    position: relative;
}

.hidden{
    display: none;
}

form input{
    font-family: inherit;
    color: var(--pink-400);
    width: 100%;
    padding: var(--space1);
    background-color: transparent;
    border-radius: 2rem;
    border: 1px solid var(--pink-400);
    outline: none;
    text-transform: lowercase;
}

form input::placeholder{
    color: var(--pink-400);
    text-transform: none;
}

form input:focus{
    border-width: 2px;
}

form input.error{
    border: 2px solid var(--pink-500);
}

form > img{
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

button{
    background-image: var(--gradient2);
    border: none;
    padding: var(--space1) var(--space3);
    border-radius: 1.5rem;
    box-shadow: 2px 3px 10px hsla(0, 6%, 24%, 0.306);
    position: absolute;
    top: 0px;
    right: -10px;
    cursor: pointer;
}

button:hover{
    background-image: linear-gradient(135deg, hsl(0, 100%, 93%), hsl(0, 89%, 81%));;
}

.error-message{
    color: var(--pink-500);
    margin-block: var(--space1);
    display: block;
}

@media (min-width: 40.625rem){
    body{
        background-color: hsl(0, 100%, 98%);
        background-image: url(/images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position-y: 20%;
    }

    main{
        min-height: 100vh;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 80px 1fr;
        grid-template-areas: 
        'logo image'
        'content image';
    }

    header{
        grid-area: logo;
        padding-inline: 0;
    }

    .content-container{
        text-align: left;
        grid-area: content;
        width: 100%;
        max-width: none;
        padding-inline: 0;
    }

    header,
    .content-container{
        width: min(450px, 100%);
        margin-inline: auto;
    }

    .content-container h1{
        font-size: 4rem;
        letter-spacing: 10px;
    }

    .image-container{
        grid-area: image;
        background-color: rebeccapurple;
    }

    .content-container p:first-of-type{
        line-height: 1.5;
    }

    form {
        margin-top: var(--space6);
    }

    form > img{
        right: 80px;
    }

    .error-message{
        margin-left: var(--space2);
    }

    button{
        padding-inline: var(--space3);
    }

}