:root{
    --green-bg: hsl(171, 66%, 44%);
    --blue-bg: hsl(233, 100%, 69%);
    --dark-gray: hsl(210, 10%, 33%);
    --light-gray: hsl(201, 11%, 66%);
    --regular-fw: 400;
    --bold-fw: 600;
    --small-space: 1rem;
    --medium-space: 1.5rem;
    --greater-space: 3rem;
    --big-space: 4rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg{
    display: block;
    max-width: 100%;
}

p{
    /*CSS proprty value deign to improve typography by automatically preventing orphans-single words left alone on the last line of a paragraph*/
    text-wrap: pretty;
}



body{
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: 1.5;
    color: var(--light-gray);
}

.container{
    width: 80%;
    margin-inline: auto;
    text-align: center;
    border: 2px solid greenyellow;
}

h1, h2, h3 {
    font-weight: var(--bold-fw);
    color: var(--dark-gray);
    line-height: 1;
    padding-bottom: var(--small-space);
}

.hero{
    padding-block: var(--big-space) 7rem;
}

.hero img{
    padding-bottom: var(--big-space);
    margin-inline: auto;
}

.hero h1{
    font-size: 1.73rem;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.features-content, .feature{
    padding-top: var(--greater-space);
}

.cta-buttons{
    padding-top:  var(--greater-space);
    display: grid;
    gap: var(--small-space);
}

.cta-buttons .btn{
    color: white;
    padding-block: 0.75rem;
    border-radius: 2rem;
}

.cta-buttons .ios{
    background-color: var(--green-bg);
    box-shadow: 0 7px 20px hsla(171, 66%, 44%, 0.498);
    border-bottom: 3px solid hsl(171, 66%, 40%);
}

.cta-buttons .mac{
    background-color: var(--blue-bg);
    box-shadow: 0 7px 20px hsla(233, 100%, 69%, 0.505);
    border-bottom: 3px solid hsl(233, 100%, 65%);
}

footer{
    background-color: var(--light-gray);
}

footer .container {
    padding-block: var(--medium-space);
}

.footer-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}
.footer-logo{
    width: 60px;
}
.links-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--small-space);
}

.link, .fa-brands{
    cursor: pointer;
    color: var(--dark-gray);
}

.link:hover, .fa-brands:hover{
    color: var(--green-bg);
}

.socials{
    display: flex;
    gap: var(--small-space);
    align-items: center;
}
